.image {
  overflow: hidden;
  background-size: cover;
  display: block;
}

.image2 {
  border-radius: 50%;
  width: 300px;

}

.img-container {
  width: 200vw;
  max-width: 1200px;
  /* margin: 3rem auto; */
  display: grid;
  gap: 3rem;
}

@media screen and (min-width: 50px) {
  .img-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
