.Learn {
  width: 100%;
  height: 100%;
  margin-bottom: 50%;
  box-sizing: border-box;
  background-color: #fcecd4;
  border-radius: 50%;
}

.left {
  display: flex;
  float: left;
  width: 50%;
  align-items: center;
}

.right {
  display: flex;
  float: right;
  width: 50%;
}

.Learn h1 {
  text-decoration: underline;
}

.box1 {
  align-items: center;
}

.website {
  align-items: center;
  font-style: italics;
}


/* sea blue: #97b5bf
countries: #f7cda9
pins: #ea4335

Matching
#b68888
#c4aa97
#fbe9e2
#db9c84
#a99c8c
#ec6c5c
#fcecd4 */