.nav-bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #c3c0c085;
}

.nav-bar a:link {
  color: black!important;
} 

.nav-bar a:hover {
  color: rgb(148, 125, 105)!important;
}
